<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMS4W3WcdpAE8_ncuyFhDtrMG-Xp3uTd4</string>
	<key>GCM_SENDER_ID</key>
	<string>91590485525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mireaHorizon</string>
	<key>PROJECT_ID</key>
	<string>mireahorizon</string>
	<key>STORAGE_BUCKET</key>
	<string>mireahorizon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91590485525:ios:d64291d0280b937f2c501c</string>
</dict>
</plist>